/* lg */ 
@media (min-width: 1200px) {
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	/****Ipad Landscape 1024 Container 970 ****/
	
	.service-list{ margin-bottom:30px;}
	.c-logo-part ul li{ margin:0 15px;}
	.form{ margin:0 0 0 20px}
	/*.portfolioContainer{ width:800px; margin:0px auto !important; } */ 
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.price {
		font-size: 16px;
		height: 110px;
		line-height: 30px;
		width: 100%;
	}
	.price span {
		font-size: 40px;
		margin-top: 27px;
	}
	.btn-signup {
		padding: 10px 20px;
	}
	
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	.small-logo{ padding:0 20px;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px; margin-left:}
	.service-list{ margin-bottom:20px; font-size:15px;}
	.featured-work p.padding-b{ padding-bottom:15px;}
	.main-section{ padding:70px 0;}
	.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
	.c-logo-part ul li a{ display:block;}
	.c-logo-part ul li a img{ display:block;}
	.form{ margin:0;}
	.contato-info-box{ margin:0 0; padding:0 0;}
	.social-link{ margin:0;}
	/*.portfolioContainer{ width:750px; margin:0px auto !important; }
	.Portfolio-box{ height:250px;}*/
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	}
	#home-slider .caption h1 {
		font-size: 40px;
	}
	#home-slider .caption {
		font-size: 15px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}

	/*services*/
	section {
		padding: 45px 0;
	}
	.heading {
		font-size: 14px;
		padding-bottom: 45px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.team-member {
		margin-bottom: 50px;
	}
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4  {
		width: 50%;
		float: left;
	}
	.social-icons ul li a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}	
	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}
	#features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.price span {
		font-size: 50px;
		margin-top: 25px;
	}
	.price {
		font-size: 18px;
		height: 110px;
		line-height: 35px;
		width: 130px;
	}
	.single-table ul {
		margin-top: 22px;
	}
	.single-table ul li {
		font-size: 14px;
		margin-top: 15px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	#twitter {
		padding-bottom: 75px;
	}
	.twitter-left-control, 
	.twitter-right-control {
		top: inherit;
		bottom: 30px;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 14px;
	}
	.twitter-left-control {
		left: 40%
	} 
	.twitter-right-control {
		right: 40%
	}
	#blog {
		overflow: hidden;
	}
	.entry-header h2 {
		line-height: 20px;
	}
	.blog-posts .col-sm-4 {
		margin-bottom: 35px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		font-size: 12px;
		padding: 15px 75px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contato-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}
	/****Mobile Landscape 480 Container 100% ****/
	.service-list{ font-size:12px; margin-bottom:20px;}
	.we-create li{ font-size:13px; padding:0 0 0 8px}
	.main-section{ padding:60px 0 70px;}
	.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
	.team-leader-box:nth-of-type(3n){ margin:0 auto}
	.res-nav_click{ display:block;}
	.featured-work{ font-size:12px; margin-top:30px;}
	.featured-box{ font-size:12px;}
	.featured-box p{ line-height:18px; }
	.c-logo-part ul a{ margin-bottom:5px;}
	.main-section.team{ padding:60px 0 50px;}
	.business-talking h2{ font-size:36px;}
	.contato-info-box{ margin:0 0 12px 30px; font-size:12px;}
	.contato-info-box span{ line-height:18px;}
	.social-link{ margin-left:30px;} 
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.business-talking a{ padding:10px 25px; font-size:14px;}
	.main-section.contact{ padding:60px 0 70px}
	.client-part-haead{ font-size:20px; line-height:30px;}
	.link{ font-size:14px; padding:10px 25px;}
	.logo{ width:100px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav li a{ padding:5px 16px;}
	.Portfolio-nav li{ display:block;}
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
}

/* XS Portrait */
@media (max-width: 479px) {
  
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4 {
		width:100%;
		float: none;
	}
	/****Mobile Portrait 320 ****/
	.contato-info-box{ margin-left:0px;}
	.social-link{ margin-left:0px;}
	.form{ margin:0}
	.c-logo-part ul li{ display:block;}
	.Portfolio-box{  max-width:300px !important; width:96.4% !important; margin:0 !important}
	.Portfolio-box img { max-width:100%;}
	.portfolioContainer{ width:280px !important; margin:0 auto !important } 
}

